.login-wrapper{
  text-align: center;
}

.login-main-wrapper{
  width: 450px;
  margin-left: 35%;
  margin-right: 35%;
}

.add-product-wrapper{
  margin-top: 10px;
  text-align: center;
  margin: auto;
}

.list-product-wrapper
{
  margin-top: 20px;
  text-align: center;
}

.card-wrapper{
  display: flex;
  flex-direction: row;
  margin: auto;   
  align-items: center;
  justify-content: center;
  width: 600px;
  padding: 10px;
}

.card-image{
  margin: 10px;
}